* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
}

.container {
  padding: 3.5rem 3rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-box {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.box {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

input {
  width: 500px;
  border: none;
  outline: none;
  font-style: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.logo {
  height: 3rem;
  width: 9rem;
}

.name {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
